* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

$padding-img: 1rem;
$primary-color: #2B2B2B;
$white: #fff;

@mixin flexbox ($align, $justify, $width) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    width: $width;
  }

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.face {
  position: relative;
}

div.iris {
  position: absolute;
  top: 23px;
  left: 11px;
  
}

div.iris-right {
  left: 49px;
}

div.iris div {
  position: relative;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #052837;
  border-radius: 3px;
  transform: translate(-50%,-50%);
}


nav {
    @include flexbox(center, center, 100%);
    margin: 4rem 0;
}

nav input[type="text"] {
    background: $white;
    border: $white;
    border-bottom: 1px solid;
    border-radius: 2px;
    height: 22px;
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
    outline: none;
  }

main {
    @include flexbox(center, center, 100%);
    flex-wrap: wrap;
}

main img {
    padding: $padding-img;
}

nav.buttons {
    @include flexbox(center, space-around, 100%);
}

.buttons button,
nav input[type="submit"] {
    font-family: 'Work Sans', sans-serif;
    background: $primary-color;
    color: $white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-left: 1rem;

    transition: background-color 0.8s;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.buttons button:hover, 
nav input[type="submit"]:hover {
   background: #6f2da8;
}

footer {
    height: 2rem;
    padding: $padding-img;
    margin-bottom: 2rem;
    @include flexbox(center, center, 100%);
}

footer img {
    width: 4rem;
}

//CARD
label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input[type="checkbox"] {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}